@mixin allCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  .section-title {
    font-size: 3rem;
    font-weight: 800;
  }

  .section-subtitle-text {
    margin-top: 2rem;
  }
}
